.places {
 display: grid;
 justify-content: center;
 row-gap: 80px;
}

@media screen and (max-width: 1023px) {
    .places {
        row-gap: 78px;
    }
  }

  @media screen and (max-width: 424px) {
    .places {
      row-gap: 50px;
    }
  }