.main__intro {
  margin: 92px 442px 87px 148px;
}

@media screen and (max-width: 1279px) {
  .main__intro {
    margin: 90px 286px 85px 48px;
  }
}

@media screen and (max-width: 1023px) {
  .main__intro {
    margin: 85px 24px;
  }
}

@media screen and (max-width: 424px) {
  .main__intro {
    margin: 65px 16px 60px;
  }
}