.page__header {
  margin: 34px 48px 52px;
}

@media screen and (max-width: 1279px) {
  .page__header {
    margin: 28px 48px 48px;
  }
}

@media screen and (max-width: 1023px) {
  .page__header {
    margin: 28px 24px 44px;
  }
}

@media screen and (max-width: 424px) {
  .page__header {
    margin: 9px 16px 41px;
  }
}