.page__header {
  margin: 56px 48px 30px;
}

@media screen and (max-width: 1279px) {
  .page__header {
    margin: 28px 48px 48px;
  }
}

@media screen and (max-width: 1023px) {
  .page__header {
    margin: 28px 24px 48px;
  }
}

@media screen and (max-width: 424px) {
  .page__header {
    margin: 14px 16px 47px;
  }
}