.places__list {
  display: grid;
  justify-content: center;
  row-gap: 80px;
  margin: 0;
  padding: 0;
}
   
@media screen and (max-width: 1023px) {
  .places__list {
    row-gap: 72px;
  }
}
   
@media screen and (max-width: 424px) {
  .places__list {
    row-gap: 50px;
  }
}