.intro__text {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin: 40px 0 27px;
}

@media screen and (max-width: 1279px) {
  .intro__text {
    margin: 42px 0 29px;
  }
}

@media screen and (max-width: 1023px) {
  .intro__text {
    margin: 41px 0 29px;
  }
}