.intro {
  max-width: 690px;
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 405px;
  }
}

@media screen and (max-width: 424px) {
  .intro {
    max-width: 288px;
  }
}