.footer__list-link {
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__list-link {
    flex-direction: column;
  }
}

@media screen and (max-width: 424px) {
  .footer__list-link {
    gap: 32px;
  }
}