.places__place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
  "place__title place__website"
  "place__image place__pharagraphs";
  max-width: 984px;
  column-gap: 40px;
}

@media screen and (max-width: 1279px) {
  .places__place {
    grid-template-columns: 440px 1fr;
    max-width: 928px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .places__place {
    grid-template-columns: 340px 1fr;
    max-width: 720px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .places__place {
    grid-template-columns: 425px 1fr;
    max-width: 425px;
    row-gap: 32px;
    grid-template-areas:
    "place__title"
    "place__website"
    "place__image"
    "place__pharagraphs";
  }
}

@media screen and (max-width: 424px) {
  .places__place {
    grid-template-columns: 320px;
    max-width: 320px;
  }
}