.header__lang-img {
 width: 25px;
 height: 20px;
}

@media screen and (max-width: 767px) {
    .header__lang-img {
    width: 22px;
    height: 18px;
    }
  }

@media screen and (max-width: 424px) {
  .header__lang-img {
  width: 20px;
  height: 14px;
  }
}